input[type="submit"] {
  background-color: #00b5d3;
  color: #fff;
}
input[type="submit"]:hover {
  background-color: #21759b
}

#contact_wrap {
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  padding: 20px;
}
#contact_wrap label {
  display: block;
}
#contact_wrap input[type="text"] {
  margin: 0;
}
#contact_wrap input[type="text"].fname, #contact_wrap input[type="text"].lname {} #contact_wrap .name_wrap {
  margin-right: 20px;
}
#contact_wrap .name_wrap input {
  width: 200px;
  border: 1px solid #666;
}
#contact_wrap textarea {
  width: 80%;
  margin: 0;
  border: 1px solid #616b6c;
  height: 130px;
}
#contact_wrap textarea, #contact_wrap input[type="text"] {
  font-size: 12px;
}
.text_input {
  position: relative;
}

.text_input {
  display: inline-block;
  margin-bottom: 10px;
}
#contact_wrap .input_wrap {
  margin: 0 0 15px;
  position: relative;
}
#contact_wrap input#ask_cap, #contact_wrap #captcha_error_msg {
  float: left;
}
#contact_wrap #y_send {
  margin: 0;
  padding: 10px 15px;
}
#contact_wrap .error {
  font-size: 0.9em;
  line-height: 1em;
  padding: 10px 30px 26px 5px;
  position: absolute;
  text-align: center;
  width: 193px;
  color: #000;
  cursor: pointer;
}

.form_message {
  display: none;
  text-align: center;
  padding: 20px;
}
.success_message {
  background: #c9ffc9;
}
.error_message {
  background: #FCC;
}
.warning_message {
  background: #fff9c9;
}


/* Form fields, general styles first */

button, input, textarea {
  border: 0 none;
  font-family: inherit;
  padding: 5px;
  background: #ffffff;
}
input[type="text"], input[type="email"] {
  margin-bottom: 0;
}
#searchform {
  position: relative;
}
button, input {
  line-height: normal;
}
textarea {
  font-size: 100%;
  overflow: auto;
  vertical-align: top;
}
/* Reset non-text input types */

input[type="checkbox"], input[type="radio"], input[type="file"], input[type="hidden"], input[type="image"], input[type="color"] {
  border: 0;
  border-radius: 0;
  padding: 0;
}
