
/* Page structure */

.site {
  position: relative;
  margin: 0;
  overflow: hidden;
  min-width: 782px;
  width: 100%;
  min-height: 100%;
}


/* Site Content */
.has_children .content-area {
  width: 50%;
  float: left;
}
.content-area,
.no-sidebar.has_children .content-area,
.full-width.has_children .content-area,
.blog .content-area{
  width: 75%;
  float: left;
}
.front-page .content-area{
  width: 100%;
  float: none;
}
.single.right-sidebar .content-area {

}


.widget-area {
  margin: 24px 0 0;
  margin: 1.714285714rem 0 0;
}

#secondary {
  float: right;
  width: 22%;
  margin-left: 3%;
  margin-top: 3%;
}

#child_links {
  float: left;
  width: 22%;
  margin-right: 3%;
  margin-top: 3%;
}


/*     Helpers     */
.inner {
  max-width: 920px;
  margin: auto;
  position: relative;
  padding: 20px;
}

.width_10 {
  width: 10%;
}
.width_20 {
  width: 20%;
}
.width_30 {
  width: 30%;
}
.width_40 {
  width: 40%;
}
.width_60 {
  width: 60%;
}
.width_90 {
  width: 90%;
}
